<style>

    .right {
        float: right !important;
    }

</style>

{{ form_start(form) }}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-50">
        {{ form_label(form.label) }}
        {{ form_widget(form.label, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.label) }}

        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.price) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.description) }}

        {{ form_label(form.imageUrl) }}
        {{ form_widget(form.imageUrl, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_errors(form.imageUrl) }}

        {{form_row(form.isOnSale, {'attr': {'class' : 'mt-2'}})}}


        <div class="float-right">
            <button class="btn btn-primary right mt-2">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
